@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<what_u_gonna_eat.Models.Account>;

    
<link rel="stylesheet" href="~/css/DeliverPost.css" />

<div class="grid grid-cols-1 gap-16 m-3 pt-6 md:grid-cols-2 lg:grid-cols-3 lg:px-10">
    
    <div class="flex flex-col card-p">
            
        <div class="header yellow-div p-2 items-center">
            <div class="grid grid-cols-10 h-full mx-2 py-1">
                <div class="flex col-span-2 items-center">
                    <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                </div>
                <div class="flex col-span-8 items-center justify-center">
                    <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                </div>
            </div>
        </div>

        <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
            <div class="basis-3/5 h-full space-y-2.5 mr-4">
                <p class="yellow">Food :</p>
                <div>
                    <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                </div>
                <p class="yellow">Detali :</p>
                <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                </textarea> 
                <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
            </div>
            
            <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
            </div>
        </div>
    </div>
    
        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>


        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>


        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col card-p">
            
            <div class="header yellow-div p-2 items-center ">
                <div class="grid grid-cols-10 h-full mx-2 py-1">
                    <div class="flex col-span-2 items-center">
                        <img class="w-12" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/1034739268058365962/1100697075139760168/erum.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <p class="text-center text-xl dark-blue md:text-lg lg:text-xl">Erum-Kung</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 md:my-3 divide-x-2">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">ยำปูม้า + กุ้งสด เผ็ดๆ</span>
                    </div>
                    <p class="yellow">Detali :</p>
                    <textarea rows="4" class="disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 " placeholder="Write your thoughts here..."
                    disabled >ดงบุริเนื้อกระเทียม ส่งที่ ecc-601 วางไว้ที่เก้าอี้สีชมพูอมฟ้า รูปวงกลม ฟกหด้่รีน้ฟหกนระ้ไฟ-้นfasdg esdhsdfgdsfgdshwash vhjfasdhgsdalghkjaslfhl;kwhkl;gjkl;dsajgklhsdjghjlkdshgljdfhlkjhlkdjo;ynweopudopgjdfojgl;ek
                    </textarea> 
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>4/26/2023 15:49</p></div>
                </div>
                
                <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                    <button onclick="" style="height:90px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="90" data-height="90"></span></button>
                </div>
            </div>
        </div>
</div>