.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}



/* The Close Button */
.close {
    color: #FA9F1B;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

body {
    margin: 0;
    /* background-color: rgb(36, 3, 45); */
}


#eat {
    color: #FDBF46;
}



.button {
    font-size: 1em;
    /* padding: 10px; */
    color: #bc1b1b;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    /* transition: all 0.1s ease-out; */
    margin: 4%;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 560px;
    text-decoration: none;
    cursor: pointer;
    background: url('https://api.iconify.design/material-symbols/add-circle.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols/add-circle.svg');
}

    .button:hover {
        background: #FA9F1B;
    }



.modal-content {
    margin: 70px auto;
    padding: 20px;
    background: #002D44;
    border-radius: 40px;
    /* width: 30%;  */
    width: 480px;
    /* height: 700px; */
    position: relative;
    transition: all 5s ease-in-out;
    overflow: hidden;
}

    .modal-content h2 {
        margin-top: 0;
        color: #FDBF46;
        font-family: 'Paytone One';
        text-align: center;
    }

    .modal-content .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

        .modal-content .close:hover {
            color: #FDBF46;
        }

    .modal-content .content {
        max-height: 30%;
        overflow: auto;
    }


.line {
    border-bottom: 2px solid #FFFF;
    /* padding-bottom: 20px; */
    /* margin: 0 30px; */
}

.content {
    margin-top: 15px;
    font-family: 'Paytone One';
}

.foodtext {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Paytone One';
    margin-right: 5px;
    color: #FDBF46;
}

.boxinput {
    width: 360px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Paytone One';
    padding: 5px;
}

.boxinputd {
    width: 500px;
    height: 300px;
    font-family: 'Paytone One';
}

.textd {
    width: 375px;
    height: 220px;
    border-radius: 40px;
    font-family: 'Itim';
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
    padding: 20px;
    resize: none;
    overflow: hidden;
}

.submit {
    font-size: 20px;
    float: right;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0);
    color: #FDBF46;
    font-family: 'Paytone One';
    border: 3px solid #FDBF46;
    cursor: pointer;
}

@media screen and (max-width: 640px) {

    .modal-content {
        width: 100%;
    }

    .textd {
        width: 40%
    }

    .boxinput {
        width: 60%
    }
}

@media screen and (max-width: 768px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}


@media screen and (max-width: 1024px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}



/* The Close Button */
.close {
    color: #FA9F1B;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

body {
    margin: 0;
    /* background-color: rgb(36, 3, 45); */
}


#eat {
    color: #FDBF46;
}



.button {
    font-size: 1em;
    /* padding: 10px; */
    color: #bc1b1b;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    /* transition: all 0.1s ease-out; */
    margin: 4%;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 560px;
    text-decoration: none;
    cursor: pointer;
    background: url('https://api.iconify.design/material-symbols/add-circle.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols/add-circle.svg');
}

    .button:hover {
        background: #FA9F1B;
    }



.modal-content {
    margin: 70px auto;
    padding: 20px;
    background: #002D44;
    border-radius: 40px;
    /* width: 30%;  */
    width: 480px;
    /* height: 700px; */
    position: relative;
    transition: all 5s ease-in-out;
    overflow: hidden;
}

    .modal-content h2 {
        margin-top: 0;
        color: #FDBF46;
        font-family: 'Paytone One';
        text-align: center;
    }

    .modal-content .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

        .modal-content .close:hover {
            color: #FDBF46;
        }

    .modal-content .content {
        max-height: 30%;
        overflow: auto;
    }


.line {
    border-bottom: 2px solid #FFFF;
    /* padding-bottom: 20px; */
    /* margin: 0 30px; */
}

.content {
    margin-top: 15px;
    font-family: 'Paytone One';
}

.foodtext {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Paytone One';
    margin-right: 5px;
    color: #FDBF46;
}

.boxinput {
    width: 360px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Paytone One';
    padding: 5px;
}

.boxinputd {
    width: 500px;
    height: 300px;
    font-family: 'Paytone One';
}

.textd {
    width: 375px;
    height: 220px;
    border-radius: 40px;
    font-family: 'Itim';
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
    padding: 20px;
    resize: none;
    overflow: hidden;
}

.submit {
    font-size: 20px;
    float: right;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0);
    color: #FDBF46;
    font-family: 'Paytone One';
    border: 3px solid #FDBF46;
    cursor: pointer;
}

@media screen and (max-width: 640px) {

    .modal-content {
        width: 100%;
    }

    .textd {
        width: 40%
    }

    .boxinput {
        width: 60%
    }
}

@media screen and (max-width: 768px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}


@media screen and (max-width: 1024px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}
