p.yellow {
    color: #FDBF46;
}

body {
    background-image: url(https://cdn.discordapp.com/attachments/975683623804100679/1102515928442347561/IMG_4178.PNG);
}

p.dark-blue {
    color: #002D44;
}

.yellow-div {
    background-color: #FDBF46;
}

.vertical {
    height: 100px; /* set the height of the vertical line */
    border: none; /* remove the default horizontal line */
    border-left: 2px solid black; /* add a solid black border on the left side */
    transform: rotate(90deg); /* rotate the element by 90 degrees to make it vertical */
}

.medium-font {
    font-size: 20px;
}

.header {
    padding: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.card-p {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 100%;
}

/* #style-2::-webkit-scrollbar-track-piece:end{
    margin-bottom: 6px;
  }
  #style-2::-webkit-scrollbar-track-piece:start{
    margin-top: 6px;
  } */


#style-2::-webkit-scrollbar-button {
    height: 4px;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FDBF46;
}



#buttonwhenenable:hover, a:hover {
    opacity: 0.7;
}

#buttonwhendisable:hover, a:hover {
    opacity: 1;
}


/*thitar*/
/* The modal (hidden by default) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}



/* The Close Button */
.close {
    color: #FA9F1B;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }



#eat {
    color: #FDBF46;
}



#button {
    font-size: 1em;
    /* padding: 10px; */
    color: #bc1b1b;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    /* transition: all 0.1s ease-out; */

    width: 100px;
    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin-top: 450px;
    text-decoration: none;
    cursor: pointer;
    background: url('https://api.iconify.design/material-symbols/add-circle.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols/add-circle.svg');
}

    #button:hover {
        background: #FA9F1B;
    }



.modal-content {
    margin: 150px auto;
    padding: 20px;
    background: #002D44;
    border-radius: 40px;
    
    width: 480px;
    position: fixed;
    /*transition: all 5s ease-in-out;*/
    overflow: hidden;
    right:100px;
   
}

    .modal-content h2 {
        font-size: 30px;
        margin-top: 0;
        color: #FDBF46;
        font-family: 'Paytone One';
        text-align: center;
    }

    .modal-content .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

        .modal-content .close:hover {
            color: #FDBF46;
        }

    .modal-content .content {
        max-height: 30%;
        overflow: auto;
    }


.line {
    margin-top:10px;
    border-bottom: 2px solid #FFFF;
    /* padding-bottom: 20px; */
    /* margin: 0 30px; */
}

.content {
    margin-top: 15px;
    font-family: 'Paytone One';
}

.foodtext {
    font-size: 20px;
    font-family: 'Paytone One';
    color: #FDBF46;
    margin-left:20px;
    padding-top:5px;
    margin-bottom: 20px;
}

.boxinput {
    width: 325px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Prompt';
    padding: 15px;
    margin-left: 5px;
    
}

/*
.textd {
    width: 395px;
    height: 220px;
    border-radius: 40px;
    font-family: 'Paytone One';
    margin-left: 20px;
  
    font-size: 15px;
    padding: 20px;
    resize: none;
    overflow: hidden;
    white-space:pre-wrap;
    overflow-y:scroll; 
    margin-bottom:10px;
}
*/

.textd {
    width: 395px;
    height: 220px;
    border-radius: 40px;
    font-family: 'Prompt';
    margin-left: 20px;
    font-size: 15px;
    padding: 20px;
    overflow: auto;
    white-space: pre-wrap;
    resize: none;
}

  /*  #textd::-webkit-scrollbar {
        width: 10px;
        
    }
*/

#textd::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}


    .submit {
        font-size: 20px;
        float: right;
        border-radius: 15px;
        background-color: rgba(240, 248, 255, 0);
        color: #FDBF46;
        font-family: 'Paytone One';
        border: 3px solid #FDBF46;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 25px;
        padding: 6px;
    }

@media screen and (max-width: 640px) {

    .modal-content {
        width: 100%;
    }

    .textd {
        width: 40%
    }

    .boxinput {
        width: 60%
    }

    .modal-content h2 {
        font-size: 20px;
        text-align:center;
        
    }
    .modal-content{

    }
}

@media screen and (max-width: 768px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}


@media screen and (max-width: 1024px) {

    .modal-content {
        width: 50%;
    }

    .textd {
        width: 70%
    }
}
