*{
	padding: 0;
	margin: 0;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://cdn.discordapp.com/attachments/951012805170061322/1098173906700996739/IMG_3989.PNG);
	background-size: cover;

}

.register_box{
	background-color:transparent;
    padding:50px 20px;
	width: 400px;
	border-radius: 20px;
	border: 2.25px solid #fff;
	/* filter: blur(8px); */
	backdrop-filter: blur(4px);
}


h1{
	text-align:center;
	margin-bottom: 20px;
	font-size:40px;
	color:#FFF;
}

h2{
	text-align:center;
	margin-bottom: 20px;
	font-size:30px;
	color:#FFF;
}

.form-group{
	width: 90%;
	margin: auto;
	height: 40px;
	position: relative;
	margin-bottom: 20px;
}

.form-group input{
	width: 100%;
    height:40px;
	box-sizing: border-box;
	outline: none;
	border: none;
    padding: 0px 20px;
	background-color:transparent;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 18px;
}

.form-group label{
	position: absolute;
	top: 50%;
	left: 10px;
	transform:translateY(-60%);
	font-size:18px;
	font-weight:500;
	color: #FFF;
	transition: .3s;
}

.icon{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #fff;
}

.rem{
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
	font-size: 14px;
}

.rem input{
	margin-right: 5px;
}

.rem a{
	text-decoration: none;
	margin-left:5px;
	color:#fff;
	font-weight: bold;
}

.Register{
	display: flex;
	justify-content: center;
}

.Register button{
	width: 200px;
	height:40px;
	margin-top:20px;
	border-radius: 20px;
	font-size:18px;
	font-weight:bold;
	background-color: #ffffff;
	border: none;
	outline:none;
	transition: .3s;
}

.reg{
	display: flex;
	justify-content: center;
	margin-top:20px;
	font-size: 14px;
	color: #ffff;
}

.reg a{
	text-decoration: none;
	margin-left: 5px;
	color: #fff;
	font-weight: bold;
}


.form-group input:focus ~ label,
.form-group input:valid ~ label{
	top: 0;
 }


 .Register button:hover{
	cursor: pointer;
	background-color:transparent;
	color:#fff;
	border: 1px solid #fff;
 }

span {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	font-size: 14px;
	color: rgb(196,52,47);
	cursor: default;
}