@model EaterPost
@{
    ViewData["Title"] = "Eater";
}

<h1>Eaters</h1>
<h2>what u wanna eat?</h2>

<form method="post" asp-controller="Eater" asp-action="Create">
    <label asp-for="Menu">Email</label>
    <input asp-for="Menu" class="form-control" type="text" required=""/>
    <label asp-for="Menu">Email</label>
    <input asp-for="Menu" class="form-control" type="text" required="" />
</form>
